@charset "UTF-8";
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.6;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.euro {
  font-weight: bold;
}

.fa-solid {
  color: #0065fc;
}

.neutral-star {
  color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: space-between;
}
.banner .logo {
  height: 79px;
  padding: 30px;
}
.banner nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.banner nav .hover-text {
  padding-top: 10px;
}
.banner nav .hover-text:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.info_group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.info_group .headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info_group .headline h2 {
  margin: 0px;
  font-size: 22px;
}
.info_group .headline p {
  margin: 0px;
}
.info_group .search-form {
  display: flex;
  flex-direction: row;
  width: 375px;
  max-width: 100%;
  margin: 0px;
}
.info_group .search-form i {
  color: black;
  width: 80px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.info_group .search-form input {
  border: 1px solid #f2f2f2;
  font-weight: 900;
  outline: none;
  text-align: center;
  font-size: 18px;
  flex: 1;
  width: 200px;
}
.info_group .search-form button {
  border: none;
  background-color: #0065fc;
  height: 50px;
  color: #f2f2f2;
  border-radius: 0 15px 15px 0;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  padding: 0 15px;
}
.info_group .search-form-tel {
  display: none;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.filter strong {
  font-size: 115%;
  margin: 10px;
}
.filter nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter nav .filter-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  margin: 5px;
}
.filter nav .filter-button a {
  font-weight: bold;
  font-size: medium;
  margin: 10px 20px 10px 10px;
}
.filter nav .filter-button i {
  margin-left: 20px;
}
.filter nav .filter-button:hover {
  background-color: rgba(0, 128, 255, 0.25);
}

.info_bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.info_bar p {
  margin: 0px;
}
.info_bar i {
  font-size: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 10px 10px 11px 10px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card-content {
  padding: 5px;
}
.card-text {
  margin: 0;
}
.card-title {
  font-size: 16px;
}
.card-subtitle {
  font-size: 14px;
}
.card-rating {
  font-size: 100%;
}

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 20px;
}
.hebergements-and-populaires .hebergements-title,
.hebergements-and-populaires .populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.hebergements-and-populaires .hebergements-title i,
.hebergements-and-populaires .populaires-title i {
  margin-bottom: 20px;
}
.hebergements-and-populaires .hebergements-title .section-title,
.hebergements-and-populaires .populaires-title .section-title {
  margin-top: 0;
}

.hebergements {
  width: 65%;
  background-color: #f2f2f2;
}
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 33px;
  align-items: stretch;
}
.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  width: 100%;
}
.hebergements-cards h3 {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.hebergements-cards p {
  margin: 0;
}
.hebergements-cards img {
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0 0;
}
.hebergements-cards a {
  width: calc((100% - 66px) / 3);
  display: flex;
}
.hebergements-footer {
  margin-top: 20px;
}

.populaires {
  width: 32%;
  background-color: #f2f2f2;
}
.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: stretch;
}
.populaires-cards .card {
  display: flex;
  justify-content: space-between;
}
.populaires-cards .card img {
  width: 33%;
  height: 136px;
  border-radius: 20px 0 0 20px;
}
.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activites {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.activites .section-title {
  font-size: 24px;
  text-align: left;
  margin: 0%;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: stretch;
}
.activites-cards a {
  flex: 1;
  display: flex;
}
.activites-cards .card-activites {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.activites-cards img {
  width: 100%;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.activites-cards .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}
.activites-cards h3,
.activites-cards p {
  margin: 0;
  flex-grow: 1; /* Assure un alignement uniforme entre les cartes */
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 0 0 10px 10px;
  width: 100%;
}

.footer-column {
  flex: 1 1 calc(33% - 20px);
  min-width: 150px;
  margin: 0 10px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .search-form-tel {
    display: none;
  }
  .hebergements-and-populaires {
    flex-direction: column;
    gap: 50px;
  }
  .hebergements,
  .populaires {
    width: 100%;
  }
  .populaires-cards {
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards a {
    width: 30%;
  }
  .card-activites img {
    height: 200px;
  }
}
@media (max-width: 767.98px) {
  .main-container {
    gap: 30px;
    padding: 0;
  }
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner logo {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
  }
  .banner nav {
    width: 100%;
    padding: 0;
    justify-content: center;
    gap: 0;
  }
  .banner nav .hover-text {
    box-sizing: border-box;
    border-bottom: 2px solid #deebff;
    margin: 0%;
  }
  .banner nav .hover-text:first-child {
    width: 80%;
    padding: 0 10% 10px 10%;
    display: flex;
    justify-content: center;
  }
  .banner nav .hover-text:nth-child(2) {
    width: 70%;
    padding: 0 15% 10px 15%;
    display: flex;
    justify-content: center;
  }
  .banner nav .hover-text:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .info_group {
    padding-left: 5%;
    padding-right: 5%;
  }
  .info_group .search-form {
    display: none;
  }
  .info_group .search-form-tel {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    height: 50px;
  }
  .info_group .search-form-tel i.fa-location-dot {
    color: black;
    width: 100px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .info_group .search-form-tel input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  .info_group .search-form-tel button {
    background: #0065fc;
    border: none;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }
  .info_group .search-form-tel button i {
    color: #f2f2f2;
  }
  .info_group .filter nav .filter-button {
    width: 45%;
  }
  .info_group .filter nav .filter-button a {
    font-size: smaller;
  }
  .info_group .info_bar {
    flex-wrap: nowrap;
  }
  .hebergements-and-populaires {
    gap: 15px;
  }
  .hebergements-and-populaires section {
    border-radius: 0;
  }
  .populaires {
    order: 1;
    margin-top: 0;
  }
  .populaires-cards {
    flex-direction: column;
    gap: 20px;
  }
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards .card-title {
    font-size: 16px;
  }
  .hebergements {
    order: 2;
    background-color: white;
  }
  .hebergements-cards {
    gap: 15px;
  }
  .hebergements-cards a {
    width: 100%;
  }
  .activites {
    padding: 20px;
  }
  .activites a {
    width: 100%;
  }
  .activites-cards {
    flex-direction: column;
  }
  .activites-cards img {
    height: 100px;
  }
  .activites-cards .card-activites {
    width: 100%;
  }
  .activites-cards .card-activites .card-content {
    height: auto;
  }
  .activites-cards .card-activites .card-content .card-title {
    padding: 2% 0% 5% 2%;
  }
  .footer {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */