* {
  font-family: "Raleway", sans-serif;
}
:root {
  --main-color: #0065fc; /* Couleur principale utilisée pour les icônes et autres éléments */
  --main-bg-color: #f2f2f2; /* Couleur de fond principale */
  --filter-bg-color: #deebff; /* Couleur utilisée pour les filtres */
}
.fa-solid {
  color: var(--main-color);
}
body {
  display: flex;
  justify-content: center;
}
.main-container {
  width: 100%; /* Occupe toute la largeur disponible */
  max-width: 1440px; /* Largeur maximale */
  padding: 0 50px; /* Marges internes sur les côtés */
  box-sizing: border-box; /* Inclut les bordures et le padding dans les dimensions */
}
/* Lien sans style par défaut (pas de soulignement, couleur héritée) */
a {
  color: inherit;
  text-decoration: none;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  height: 20px;
  margin: 30px 0;
}
.hover-text {
  text-decoration: none;
  margin: 0 15px;
}
.hover-text:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
  padding-top: 6px;
}
.search-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.search-text h2 {
  display: flex;
  margin-bottom: 5px;
}
.search-text p {
  display: flex;
  margin-top: 0;
}
.search-form {
  display: flex;
  flex-direction: row;
  width: 375px;
  margin-top: 15px;
}
.search-form i {
  color: black;
  width: 80px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.search-form input {
  border: 1px solid #f2f2f2;
  font-weight: 900;
  outline: none;
  text-align: center;
  font-size: 18px;
  width: 75%;
}
.search-form button {
  border: none;
  background-color: var(--main-color);
  height: 50px;
  color: white;
  border-radius: 0 15px 15px 0;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  padding: 0px 15px 0px 15px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.filter strong {
  font-size: 115%;
  margin-right: 10px;
}
.filter nav {
  display: flex;
  flex-wrap: wrap;
}
.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px;
  width: auto;
  flex-shrink: 0;
  font-size: 115%;
  font-weight: 200;
}
.filter-button:hover {
  background-color: rgba(0, 128, 255, 0.25);
}
.filter-button i {
  margin-right: 10px;
}
.filter-button a {
  font-weight: bold;
}
.content-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.content-info i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}
.content-info p {
  margin: 0;
}
.section-title {
  margin: 0; /* Supprime les marges par défaut */
  font-size: 22px; /* Taille du texte */
}
/* Style général des cartes */

.card {
  background-color: white; /* Fond blanc */
  border-radius: 20px; /* Coins arrondis */
  padding: 5px; /* Marges internes */
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* Ombre douce */
}
/* Style des images dans les cartes */
.card img {
  object-fit: cover; /* Adapte l'image au conteneur sans distorsion */
}
/* Titre des cartes */
.card-title {
  font-size: 16px; /* Taille du texte */
}
/* Style spécifique pour le symbole € */
.euro {
  font-weight: 700; /* Texte en gras */
}
/* Couleur pour les étoiles "neutres" */
.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
/* Conteneur pour les sections hébergements et populaires */
.hebergements-and-populaires {
  display: flex; /* Affichage en ligne */
  justify-content: space-between; /* Espacement entre les sections */
}
/* Style des sections internes */
.hebergements-and-populaires section {
  background-color: var(--main-bg-color); /* Fond clair */
  border-radius: 20px; /* Coins arrondis */
  padding: 30px; /* Marges internes */
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.hebergements-cards a {
  width: calc(33% - 20px);
  margin-bottom: 2%;
}
.hebergements-cards .card {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: 100%;
}
.hebergements-cards img {
  width: 100%;
  height: 110px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.hebergements-cards .card-content {
  width: 100%;
  text-align: left;
}
.hebergements-cards .card-title {
  margin-top: 2%;
  margin-bottom: 5px;
  margin-left: 4%;
}
.hebergements-cards .card-subtitle {
  margin: 0;
  margin-top: 3%;
  margin-bottom: 5px;
  margin-left: 4%;
  font-size: 14px;
}
.hebergements-cards .card-rating {
  margin-bottom: 3%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 4%;
  font-size: 100%;
}
.hebergements-footer {
  margin-top: 20px;
}
/****** Populaires ***********/
/* La section "populaires" occupe 32% de l'espace */
.populaires {
  width: 32%;
}

/* Titre de la section "populaires" avec icône */
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligne verticalement les éléments */
}

/* Style des cartes populaires */
.populaires-cards .card {
  display: flex; /* Contenu en ligne */
  margin-top: 33px; /* Espacement entre les cartes */
}

/* Images des cartes populaires */
.populaires-cards img {
  width: 33%; /* L'image occupe un tiers de la carte */
  height: 136px; /* Hauteur fixe */
  border-top-left-radius: 20px; /* Coins arrondis pour la partie gauche */
  border-bottom-left-radius: 20px;
  object-fit: cover; /* Ajuste l'image pour remplir l'espace donné */
  object-position: center; /* Rogne le haut de l'image */
}

/* Contenu des cartes populaires */
.populaires-cards .card-content {
  width: 67%; /* Le texte occupe les deux tiers restants */
  padding-left: 15px; /* Espacement interne à gauche */
  display: flex;
  flex-direction: column; /* Contenu organisé en colonne */
  justify-content: space-between; /* Répartit l'espace verticalement */
  box-sizing: border-box;
}

/* Style du titre dans les cartes */
.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

/* Sous-titre des cartes */
.populaires-cards .card-subtitle {
  margin: 0; /* Supprime les marges par défaut */
  font-size: 86%;
}

/* Évaluations par étoiles dans les cartes */
.populaires-cards .card-rating {
  margin-bottom: 5px; /* Espacement en bas */
}

/****** Media queries ***********/
/* Medium devices (tablettes : largeur max de 1024px) */
@media (max-width: 1024px) {
  /* Les sections passent en colonne */
  .hebergements-and-populaires {
    flex-direction: column;
  }

  /* La section "hébergements" occupe toute la largeur */
  .hebergements {
    width: 100%;
  }
  /* La section "populaires" occupe toute la largeur et ajoute une marge en haut */
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  /* Les cartes populaires sont organisées en ligne avec un espacement */
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Chaque carte populaire occupe 30% de la largeur */
  .populaires-cards a {
    width: 30%;
  }

  /* Taille réduite pour le titre des cartes */
  .populaires-cards .card-title {
    font-size: 14px;
  }

  /* Taille réduite pour le sous-titre des cartes */
  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (téléphones : largeur max de 768px) */
@media (max-width: 767.98px) {
  /* Aucun style défini pour cette section, à compléter si nécessaire */
}
